/* MIXINS */

@define-mixin placeholder $color {
  &::-webkit-input-placeholder {
  color: $(color);
  transition: 150ms;
}
  &::-moz-placeholder {
   color: $(color);
   transition: 150ms;
 }
  &:-ms-input-placeholder {
   color: $(color);
   transition: 150ms;
 }
  &:-moz-placeholder {
   color: $(color);
   transition: 150ms;
  }
}